swagger: "2.0"

########################################################################
# Basic metadata
########################################################################
info:
  title: SemHash Dedupe API
  version: "1.0.0"

########################################################################
# Gateway host (filled in automatically at deploy time)
########################################################################
host: semhash-gw.endpoints.semhash-api.cloud.goog
schemes: [https]

########################################################################
# Enable CORS on the gateway
########################################################################
x-google-endpoints:
  - name: semhash-gw.endpoints.semhash-api.cloud.goog
    allowCors: true        # adds Access-Control-Allow-* for all responses

########################################################################
# Paths
########################################################################
paths:
  /dedupe_csv:
    post:
      operationId: dedupeCsv            # ❶ REQUIRED – unique in file
      summary: Deduplicate a CSV and return JSON
      consumes:
        - text/csv                      # raw CSV in request body
      parameters:
        - in: body                      # ❷ body upload (no "file" type)
          name: file
          description: Raw CSV payload (≤ 32 MiB)
          required: true
          schema:
            type: string
            format: binary
        - in: query
          name: threshold
          type: number
          format: float
          required: false
        - in: query
          name: skip_columns
          type: string
          required: false
      x-google-backend:                 # ❸ Cloud Run target
        address: https://semhash-136308605234.australia-southeast1.run.app/dedupe_csv
      responses:
        "200":
          description: JSON array of deduplicated rows
          schema:
            type: array
            items: {type: object}

########################################################################
# API-key protection ( ?key=YOUR_KEY )
########################################################################
securityDefinitions:
  api_key:
    type: apiKey
    name: key
    in: query

security:
  - api_key: []
  